body {
  text-align: center;
  background-color: #A8BA9A;
}

.userControl {
  text-align: center;
  background-color: #9F9FED;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

.weird {
  background-color: #C799A6;
  text-align: center;
}

input {
  /*padding: 2em;*/
  margin: 1em;
}
